# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__
*.pyc
*.DS_Store

# Environments
.venv
env/
venv/
tmp/
.env

# IDE / User specific
.vscode/
.idea/
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
Session.vim
*.bak
.run/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
coverage
cover/*
*.cover
.hypothesis/
.pytest_cache/
test_report.xml
